
       <%- include('partials/header'); %>
       <section>
        <form id="form" class="form" method="GET" autocomplete="off">
            <input id="input1" autofocus name="name" type="text" autocomplete="off" placeholder="Marten de Bruijn" required pattern="^[A-Za-z -]+" value=""/>
            <label for="input1"><h3 tabindex="-1">Wat is je naam?</h3>
                <span class="progress-dot dot-one" tabindex="1"></span> 
                <ul class="hints">
                    <p>Toegestane tekens:</p>
                    <li>a-z of A-Z</li>
                    <li>-</li>
                    <li>spatie</li>
                </ul>
            </label> 
 
           <fieldset>
               <legend><h3 id="js-ageHeader" tabindex="-1">Hoe oud ben je?</h3></legend>
               <input type="radio" name="leeftijd" id="18ofjonger" value="18" required />
               <label for="18ofjonger">18 jaar of jonger</label>
               <input type="radio" name="leeftijd" id="19jaar" value="19" required />
               <label for="19jaar">19 jaar</label>
               <input type="radio" name="leeftijd" id="19jaar" value="20" required />
               <label for="20jaar">20 jaar</label>
               <input type="radio" name="leeftijd" id="21jaar" value="21" required />
               <label for="21jaar">21 jaar</label>
               <input type="radio" name="leeftijd" id="22jaar" value="22" required />
               <label for="22jaar">22 jaar</label>
               <input type="radio" name="leeftijd" id="23jaar" value="23" required />
               <label for="23jaar">23 jaar</label>
               <input type="radio" name="leeftijd" id="24jaar" value="24" required />
               <label for="24jaar">24 jaar</label>
               <input type="radio" name="leeftijd" id="25jaar" value="25" required />
               <label for="25jaar">25 jaar of ouder</label>
               <span class="progress-dot dot-two" tabindex="1"></span> 
           </fieldset> 

            <select id="color" required>
                <option value="">Kies een kleur</option>
                <option value="red">Rood</option>
                <option value="green">Groen</option>
                <option value="blue">Blauw</option>
                <option value="yellow">Geel</option>
                <option value="other">Een andere kleur</option>
            </select>

            <label for="color"><h3 id="js-colorHeader" tabindex="-1">Wat is je favoriete kleur?</h3>
                <span class="progress-dot dot-three" tabindex="1"></span> 
            </label>

            <input id="birthday" autocomplete="off" placeholder="04-09-1996" type="text" name="verjaardag" required pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" value=""/>
            <label for="birthday"><h3 id="js-birthdayHeader" tabindex="-1">Wat is je geboortedatum?</h3> <h3>Vul hieronder je geboortedatum in:</h3>
                <span class="progress-dot dot-four" tabindex="1"></span> 
                <div class="hints">
                    <p>Toegestaan formaat:</p>
                    <p>DD-MM-YYYY</p>
                </div>
            </label> 

            <input id="grade" autocomplete="off" placeholder="8" type="text" name="grade" required pattern="(1[0]|[1-9]{1})" value=""/>
            <label for="grade"><h3 id="js-gradeHeader" tabindex="-1">Welk cijfer zou jij de minor geven?</h3>
                <span class="progress-dot dot-five" tabindex="1"></span> 
                <ul class="hints">
                    <p>Toegestane tekens:</p>
                    <li>1 t/m 9</li>
                    <li>10</li>
                </ul>
            </label> 
              
            <div class="btns">
            <button class="back">Terug</button>
            <button class="sub" formaction="/v2/enquete/finished" name="submit" type="submit">Volgende</button>
        </div>
        </form>
       </section>
       <%- include('partials/footer'); %>