<%- include ('./partials/head') %>

<main>

    <section>
        <section>
            <h2>Klaar!</h2>
            <p>Dankjewel voor het invullen van deze enquête.</p>
        </section>
    </section>

    <%- include ('./partials/footer') %>