<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
      <p>Je hebt de enquête helemaal ingevuld!</p>
      <p>Wil je deze opslaan?</p>
      <a href="/vraag7"><button type="button">Terug</button></a>
      <!-- <form method="post" action="/save">
        <button type="submit">Opslaan</button>
      </form> -->
    </section>
</main>
<%- include('./partials/footer.ejs') %>