<%- include ('./partials/head') %>

<main>

    <section>
        <div>
            <h2>Je persoonlijke code</h2>
            <p>Bewaar deze code om later verder te gaan.</p>
        </div>

        <form class="f1" method="post" action="/vraag1/<%= userid %>">
            <input class="i1" type="text" autocomplete="off" name="usercode" value="<%= userid %>" readonly>
            <button type="submit" value="start">Beginnen</button>
        </form>
    </section>

    <%- include ('./partials/footer') %>