<%- include ('./partials/head') %>

<main class="user-code">

    <section>
        <h1>Je persoonlijke code</h1>
        <p><span>Wil je later verdergaan met de ingevulde gegevens?</span><span>Bewaar deze code dan en vul deze bij je
                volgende bezoek in.</span></p>

        <form method="post" action="/vraag1">
            <input type="text" autocomplete="off" name="usercode" value="<%= userid %>" readonly>
            <button type="submit" value="start">Beginnen</button>
        </form>
    </section>

    <%- include ('./partials/footer') %>