<%- include ('./partials/head') %>

<main>

    <section>
        <ul>
            <li><a class="btn" href="generate-user-code">Start</a></li>
            <li><a class="btn" href="use-user-code">Continue</a></li>
        </ul>
    </section>

<%- include ('./partials/footer') %>