<%- include ('./partials/head') %>

<main>
    <section class="justify-space-between">
        <section>
            <section>
                <h1>Welkom!</h1>
                <p>Welkom bij de enquête van de minor web development.</p>
            </section>
            <section>
                <h2>Nieuw?</h2>
                <p>Druk op start.</p>
            </section>
            <section>
                <h2>Al begonnen?</h2>
                <p>Druk op continue.</p>
            </section>
        </section>
        <section>
            <ul>
                <li><a class="btn" href="use-user-code">Continue</a></li>
                <li><a class="btn" href="generate-user-code">Start</a></li>
            </ul>
        </section>
    </section>

<%- include ('./partials/footer') %>