<%- include ('./partials/head') %>

<main class="home">

    <section start-options>
        <ul>
            <li><a href="generate-user-code">Start</a></li>
            <li><a href="use-user-code">Continue</a></li>
        </ul>
    </section>

    <%- include ('./partials/footer') %>