<%- include ('./partials/head') %>

<main>
    <section>
        <section>
            <h1>Welkom!</h1>
            <p>Welkom bij de enquête van de minor web development.</p>
            <h2>Nieuw?</h2>
            <p>Druk op start.</p>
            <h2>Al begonnen?</h2>
            <p>Druk op continue.</p>
        </section>
        <section>
            <ul>
                <li><a class="btn" href="generate-user-code">Start</a></li>
                <li><a class="btn" href="use-user-code">Continue</a></li>
            </ul>
        </section>
    </section>

<%- include ('./partials/footer') %>