<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
      <form method="post" action="/vraag2">
        <label
          >Voer je naam in: <input name="name" type="text" placeholder="John Doe" required
        /></label>
        <button type="reset">Reset</button>
        <button type="submit">Volgende</button>
      </form>
    </section>
  </main>
<%- include('./partials/footer.ejs') %>