<%- include('partials/header'); %>
         <section id="home">
            <section>
                <h1>Welkom bij de enquête van de minor web development @hva</h1>
            </section>
             <section class="section-width-100">
                 <ul class="home-links">
                     <li><button id="b">Ga verder</button></li>
                     <li><form action="/v2/enquete">
                        <button type="submit">Naar de enquête</button>
                    </form></li>
                 </ul>
             </section>
        </section>
        <%- include('partials/footer'); %>