<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
        <p>document wordt gelezen</p>
    </section>
  </main>
<%- include('./partials/footer.ejs') %>