<%- include('partials/header'); %>
<h1 class="save-header">Bewaar deze link om later verder te gaan:</h1>
<input type="text" readonly value="<%= destination %>" autofocus/>
<%- include('partials/footer'); %>