<%- include ('./partials/head') %>

<main>
    <%- include ('./partials/theme-chooser') %>
    <section>
        <h2>Verder gaan</h2>
        <p>Vul hieronder je persoonlijke code in</p>

        <form method="post" class="f1">
            <input class="i1" type="text" autocomplete="off" placeholder=" " name="userid" required>
            <button type="submit" value="continue">Verder</button>
        </form>
    </section>

<%- include ('./partials/footer') %>