<%- include ('./partials/head') %>

<main>

    <section>
        <h2>Verder gaan</h2>
        <p>Vul hieronder je persoonlijke code in</p>

        <form method="post">
            <input type="text" autocomplete="off" placeholder="code" name="userid">
            <button type="submit" value="continue">Verder</button>
        </form>
    </section>

    <%- include ('./partials/footer') %>