<%- include ('./partials/head') %>

<main>

    <section>
        <h1>Verder gaan</h1>
        <p><span>Vul hieronder je persoonlijk code in die je eerder hebt opgeslagen.</span><span>Nu kan je verder met je
                vriendenboek!</span></p>

        <form method="post">
            <input type="text" autocomplete="off" placeholder="code" name="userid">
            <button type="submit" value="continue">Verder</button>
        </form>
    </section>

    <%- include ('./partials/footer') %>