<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
      <form method="post" action="/finished">
        <p>Vraag 7 van 7</p>
        <fieldset>
            <legend>Wie is je favoriete docenten?</legend>

            <label>Koop <input type="radio" name="docent" value="koop" required></label>
            <label>Joost <input type="radio" name="docent" value="Joost" required></label>
            <label>Vasillis <input type="radio" name="docent" value="Vasillis" required></label>
            <label>Laurens <input type="radio" name="docent" value="Laurens" required></label>
            
        </fieldset>

        <button type="submit">Volgende</button>
      </form>
      <%- include('./partials/back.ejs') %>
    </section>
  </main>
<%- include('./partials/footer.ejs') %>