<%- include ('./partials/head') %>

<main class="survey">

    <section>

        <form method="post" action="/vraag7" survey>
            <p>Vraag 6 van 6</p>
            <label>Welk cijfer zou jij deze minor geven?  1<input type="range" min="1" max="10" name="cijfer" required>10</label>

            <input type="hidden" name="userid" value=<%= userid %>>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="vraag7">Verder</button>
            </nav>
        </form>
    </section>

    <%- include ('./partials/footer') %>