<%- include ('./partials/head') %>

<main>

    <section>
        <h2>Vraag 6 van 7</h2>
        <form method="post" action="/vraag7" survey>
            <label><h2>Welk cijfer zou jij deze minor geven? (1 tot 10)</h2><input type="range" min="1" value="5" max="10" name="cijfer" required></label>

            <input type="hidden" name="userid" value=<%= userid %>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="vraag7">Verder</button>
            </nav>
        </form>
    </section>
  

    <%- include ('./partials/footer') %>