<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
      <form method="post" action="/finished">
        <p>Vraag 7 van 7</p>
        <fieldset>
            <legend>Wie is je favoriete docent?</legend>

            <% if(answer === 'koop') {%>
              <label>Koop <input type="radio" name="docent" value="koop" required checked></label>
              <% } else { %>
                <label>Koop <input type="radio" name="docent" value="koop" required></label>
              <% } %>
            <% if(answer === 'Joost') {%>
              <label>Joost <input type="radio" name="docent" value="Joost" required checked></label>
              <% } else { %>
                <label>Joost <input type="radio" name="docent" value="Joost" required></label>
              <% } %>
            <% if(answer === 'Vasillis') {%>
              <label>Vasillis <input type="radio" name="docent" value="Vasillis" required checked></label>
              <% } else { %>
                <label>Vasillis <input type="radio" name="docent" value="Vasillis" required></label>
              <% } %>
            <% if(answer === 'Laurens') {%>
              <label>Laurens <input type="radio" name="docent" value="Laurens" required checked></label>
              <% } else { %>
                <label>Laurens <input type="radio" name="docent" value="Laurens" required></label>
              <% } %>            
        </fieldset>

        <button type="submit">Volgende</button>
      </form>
      <a href="/vraag6"><button type="button">Terug</button></a>
    <%- include('./partials/continue.ejs') %>
    </section>
  </main>
<%- include('./partials/footer.ejs') %>