<%- include ('./partials/head') %>

<main>

    <section>
        <h2>Vraag 7 van 7</h2>
        <div class="progress-bar"><div class="progress-v7"></div></div>
        <form method="post" action="/finished">
            
        <fieldset>
            <legend><h2>Wie is je favoriete docent?</h2></legend>
            <input id="koop" type="radio" name="docent" value="koop" required><label for="koop">Koop</label>
            <input id="joost" type="radio" name="docent" value="Joost" required><label for="joost">Joost</label>
            <input id="vasillis" type="radio" name="docent" value="Vasillis" required><label for="vasillis">Vasillis</label>
            <input id="laurens" type="radio" name="docent" value="Laurens" required><label for="laurens">Laurens</label>
        </fieldset>
            <input type="hidden" name="userid" value=<%= userid %>>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="finished">Verder</button>
            </nav>
        </form>
    </section>

    <%- include ('./partials/footer') %>