<%- include ('./partials/head') %>

<main class="survey">

    <section>

        <form method="post" action="/vraag6" survey>
            <p>Vraag 5 van 6</p>
            <label>Wanneer ben je geboren?<input type="date" name="verjaardag" required></label>

            <input type="hidden" name="userid" value=<%= userid %>>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="vraag6">Verder</button>
            </nav>
        </form>
    </section>

    <%- include ('./partials/footer') %>