<%- include ('./partials/head') %>

<main>

    <section>
        <h2>Vraag 5 van 7</h2>
        <form method="post" action="/vraag6" survey>
            
            <label><h2>Wanneer ben je geboren?</h2><input type="date" name="verjaardag" required></label>

            <input type="hidden" name="userid" value=<%= userid %>>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="vraag6">Verder</button>
            </nav>
        </form>
    </section>

    <%- include ('./partials/footer') %>