<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
      <form method="post" action="/vraag4">
        <p>Vraag 3 van 6</p>
        <fieldset>
            <legend>Welke opleiding doe je?</legend>

            <% if(answer === 'cmd') {%>
              <label>Communicatie Multimedia Design <input type="radio" name="opleiding" value="cmd" required checked></label>
              <% } else { %>
                <label>Communicatie Multimedia Design <input type="radio" name="opleiding" value="cmd" required></label>
              <% } %>
            <% if(answer === 'ict') {%>
              <label>ICT <input type="radio" name="opleiding" value="ict" required checked></label>
              <% } else { %>
                <label>ICT <input type="radio" name="opleiding" value="ict" required></label>
              <% } %>
            <% if(answer === 'anders') {%>
              <label>Anders <input type="radio" name="opleiding" value="anders" required checked></label>
              <% } else { %>
                <label>Anders <input type="radio" name="opleiding" value="anders" required></label>
              <% } %>
        </fieldset>

        <button type="submit">Volgende</button>
      </form>
      <a href="/vraag2"><button type="button">Terug</button></a>
    <%- include('./partials/continue.ejs') %>
    </section>
  </main>
<%- include('./partials/footer.ejs') %>