<%- include ('./partials/head') %>

<main class="survey">
    <section>

        <form method="post" action="/vraag5" survey>
            <p>Vraag 4 van 6</p>
            <label>Kies je favoriete kleur:<input type="color" name="kleur" required></label>

            <input type="hidden" name="userid" value=<%= userid %>>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="vraag5">Verder</button>
            </nav>
        </form>
    </section>

    <%- include ('./partials/footer') %>