<%- include ('./partials/head') %>

<main>
    <section>
        <h2>Vraag 4 van 7</h2>
        <div class="progress-bar"><div class="progress-v4"></div></div>
        <form method="post" action="/vraag5">
            
            <label><h2>Kies je favoriete kleur:</h2><input type="color" name="kleur" required></label>

            <input type="hidden" name="userid" value=<%= userid %>>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="vraag5">Verder</button>
            </nav>
        </form>
    </section>

    <%- include ('./partials/footer') %>