<%- include ('./partials/head') %>

<main class="survey">
    <section>

        <form method="post" action="/vraag4" survey>
            <p>Vraag 3 van 6</p>
            <fieldset>
                <legend>Welke opleiding doe je?</legend>
                <label>Communicatie Multimedia Design <input type="radio" name="opleiding" value="cmd" required></label>
                <label>ICT <input type="radio" name="opleiding" value="ict" required></label>
                <label>Anders <input type="radio" name="opleiding" value="anders" required></label>
            </fieldset>
            <input type="hidden" name="userid" value=<%= userid %>>

            <!-- Navigation -->
            <nav>
                <button type="submit" value="vraag4">Verder</button>
            </nav>
        </form>
    </section>

    <%- include ('./partials/footer') %>