<%- include('./partials/head.ejs') %> 
<main>
  <section>
    <h2>Vraag 1 van 7</h2>
    <div class="progress-bar"><div class="progress-v1"></div></div>
    <form method="post" action="/vraag2">
      <label><h2>Wat is je naam?</h2>
        <input name="name" type="text" autocomplete="off" placeholder=" " required pattern="^[A-Za-z -]+$"/>
        <p class="hint">Gebruik alleen "a-z" en "-" of spatie.</p>
      </label>

      <input type="hidden" name="userid" value=<%= userid %>>

      <!-- Navigation -->
      <nav>
        <button type="submit" value="vraag2">Verder</button>
      </nav>
    </form>
  </section>
  <%- include('./partials/footer.ejs') %>
</main>
