/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body {
	line-height: 1;
} */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- --- --- */
.theme-switcher {
    height: 3em;
    width: 3em;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 1em);
    right: 10px;
    transition: transform .2s ease-in-out;
    z-index: 2;
}
.menu-item {
    border: 1em solid;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    position: absolute;
}
.menu-item:hover {
    border-color: #1089ff;  /* fallback */
    border-color: var(--theme-color-accent);
}
.dark {
    z-index: 1;
    border-color: grey;  /* fallback */
    border-color: var(--grey);
    background: white;
}
.theme-switcher.active .dark {
    transform: translateY(-4em);
}
.theme-switcher.active .light {
    transform: translateY(4em);
}
.light {
    z-index: 1;
    border-color: grey; /* fallback */
    border-color: var(--grey);
    background: black; 
}
.home {
    z-index: 1;
    border-color: #1089ff; /* fallback */
    border-color: var(--theme-color-accent);
    background: white; /* fallback */
    background: var(--theme-color)
}

/* theme */
:root {
    --warning: #ff5c5c;
    --theme-color: black;
    --theme-color-secundair: white;
    --theme-color-accent: #1089ff;
    --focus-color: blue;
    --succes:#4caf50;
    --grey: grey;
}
@media (prefers-color-scheme: light) {
    :root {
        --warning: #ff5c5c;
        --theme-color: white;
        --theme-color-secundair: black;
        --theme-color-accent: #1089ff;
        --focus-color: blue;
        --succes:#4caf50;
        --grey: grey;
    }
  }
body {
    line-height: 1.5 !important;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background: red; /* fallback */
    background: var(--theme-color);
    color: white; /* fallback */
    color: var(--theme-color-secundair);
    position: relative;
}
/* headers */
h1 {
    font-size: 1.5em;
}
h1, h2, header, footer, a, button, h3, h4, b {
   font-weight: 700; 
}
/* icons */
.pth-1 {
    fill: white; /* fallback */
    fill: var(--theme-color-secundair);
}
/* utility */
.hide {
    display: none;
}
.justify-space-between {
    justify-content: space-between;
}
/* layout */
header, footer {
    padding: .6em 1em;
    flex-wrap: wrap;
    width: calc(100% - 2em);
}
header {
    background: #1089ff; /* fallback */
    background: var(--theme-color-accent);
    justify-content: space-between;
}
main {
    margin: 1em;
    min-height: 468px;
    height: calc(100vh - 8em);
    position: absolute;
    z-index: 2;
    width: calc(100% - 2em);
}
main > section {
    height: 90%;
    padding: 0 1em;
    flex-direction: column;
    -moz-box-direction: column;
}
section > section > section:first-of-type {
    margin-top: 0;
}
section > section > section {
    margin-top: 1em;
}
section section:last-of-type, form > section, section > ul {
    width: 100%;
}
form section:last-of-type {
    position: absolute;
    bottom: 3em;
    right: 0;
    z-index: 2;
}
section > ul {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-evenly;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    justify-content: flex-end;
}
/* generate-user-code */
.f1 {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.i1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}
/* flex-box */
header, footer, button, .btn, .secundair, fieldset label, form nav, fieldset nav, section > form, main > section {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
}
/* links and buttons */
a, button {
    text-decoration: none;
    color: #1089ff; /* fallback */
    color: var(--theme-color-accent);
}
header a {
    color: black; /* fallback */
    color: var(--theme-color);
}
.btn {
    border: 2px solid white; /* fallback */
    border: 2px solid var(--theme-color-secundair);
}
button, .btn {
    background: white; /* fallback */
    background: var(--theme-color-secundair);
}
.secundair {
    border: 2px solid #1089ff; /* fallback */
    border: 2px solid var(--theme-color-accent);
    background: black; /* fallback */
    background: var(--theme-color);
}
.btn, .secundair {
    height: 3em;
    width: 8em;
}
button {
    height: calc(3em + 4px);
    width: calc(8em + 4px);
}
button, .btn, .secundair {
   justify-content: center;
   border-radius: 6px;
   border-collapse: separate;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
   transition: all .2s ease-in-out;
   text-transform: uppercase;
   font-size: .8em;
}
button:hover, .btn:hover, .secundair:hover {
    transform: scale(.9);
}
button:hover {
    cursor: pointer;
}
a:hover, button:hover {
    text-decoration: underline;
}
/* forms */
input {
    color: white; /* fallback */
    color: var(--theme-color-secundair);
}
form, label, input[type=text], input[type=color], input[type=range], input[type=date] {
    width: 100%;
}
input[type=text] {
    border: 0;
    outline: 0;
    background: transparent;
    transition: all .3s ease-in-out;
}
input[type=date] {
    color: black; /* fallback */
    color: var(--theme-color);
}
.label > h3, legend {
    margin-bottom: 1em;
}
/* hide hint */
.hint {
    display: none;
    font-size: small;
}
/* show hint */
input:focus ~ .hint {
    display: inline;
}
/* form validation */
/* focused + not empty + valid */
input[type=text] {
    border-bottom: 2px solid #4CAF50; /* fallback */
    border-bottom: 2px solid var(--succes);
}
/* focused + empty + not valid */
input[type=text]:focus:invalid:placeholder-shown {
    border-bottom: 2px solid blue; /* fallback */
    border-bottom: 2px solid var(--focus-color);
}
input[type=text]:focus:invalid:-ms-input-placeholder {
    border-bottom: 2px solid blue; /* fallback */
    border-bottom: 2px solid var(--focus-color);
}
/* not focused + empty + not valid */
input[type=text]:invalid:placeholder-shown {
    border-bottom: 2px solid white; /* fallback */
    border-bottom: 2px solid var(--theme-color-secundair);
}
input[type=text]:invalid:-ms-input-placeholder {
    border-bottom: 2px solid white; /* fallback */
    border-bottom: 2px solid var(--theme-color-secundair);
}
/* focused + not empty + not valid */
/* not focused + not empty + not valid */
input[type=text]:invalid:not(:placeholder-shown) {
    border-bottom: 2px solid red; /* fallback */
    border-bottom: 2px solid var(--warning); 
}
input[type=text]:invalid:not(:-ms-input-placeholder) {
    border-bottom: 2px solid red; /* fallback */
    border-bottom: 2px solid var(--warning); 
}
input[type=radio] {
    display: none;
}
fieldset label:before {
    content: '';
    border: 2px solid white; /* fallback */
    border: 2px solid var(--theme-color-secundair);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 1em;
}
input[type=radio]:checked + label:before {
    background: #4CAF50; /* fallback */
    background: var(--succes);
}
section > form {
    height: calc(100% - 4em);
    flex-direction: column;
    -moz-box-direction: column;
}
input[type=color] {
    height: 20em;
}
input[type=date] {
    border: 2px solid grey; /* fallback */
    border: 2px solid var(--grey);
    border-radius: 6px;
    padding: 1em;
}
input[type=range] {
  -webkit-appearance: none; 
  appearance: none;
  height: 25px; 
  background: white; /* fallback */
  background: var(--theme-color-secundair);
  outline: none;
  border-radius: 6px;
  overflow: hidden;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #4CAF50; /* fallback */
  background: var(--succes);
  cursor: pointer; 
}
input[type=range]::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #4CAF50; /* fallback */
  background: var(--succes);
  cursor: pointer; 
}
fieldset {
    align-self: flex-start;
    -ms-grid-column-align: start;
}
input:read-only {
    border-bottom: none;
}
input:-moz-read-only {
    border-bottom: none;
}
/* form validation error messages */
.error {
    background: #ff5c5c; /* fallback */
    background: var(--warning);
    padding: .5em 1em;
    border-radius: 6px;
    margin-top: 1em;
}
.progress-bar {
    height: 20px;
    width: 100%;
    background: white; /* fallback */
    background: var(--theme-color-secundair);
    border-radius: 6px;
    overflow: hidden;
    margin: 1em 0;
}
.progress-v1, .progress-v2, .progress-v3, .progress-v4, .progress-v5, .progress-v6, .progress-v7 {
    background: #4CAF50; /* fallback */
    background: var(--succes);
    height: 100%;
}
.progress-v1  {
    width: calc( 100% / 7 );
}
.progress-v2  {
    width: calc( calc( 100% / 7 ) * 2);
}
.progress-v3  {
    width: calc( calc( 100% / 7 ) * 3);
}
.progress-v4  {
    width: calc( calc( 100% / 7 ) * 4);
}
.progress-v5  {
    width: calc( calc( 100% / 7 ) * 5);
}
.progress-v6  {
    width: calc( calc( 100% / 7 ) * 6);
}
.progress-v7  {
    width: 100%;
}
/* desktop and tablets */
@media (min-width: 750px) {
    section > section > section {
        min-width: 25em;
    }
    section > section{
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        -moz-box-direction: column;
        align-items: center;
    }
    section > section > section h1, section > section > section h2, section > section > section p {
        width: 100%;
    }
    .progress-bar, form {
        width: 70%;
    }
}
.persoonlijke-code {
    position: absolute;
}